<div class="blog-card" style="background-image:url(
  <% if tour.photo.present? %>
    '<%= cl_image_path tour.photo, height: 220, width: 190, crop: :lfill %>'
  <% else %>
    '<%= cl_image_path "https://loremflickr.com/320/240/#{tour.city}", height: 220, width: 100, crop: :lfill %>'
  <% end %>)">
  <div class="title-content">
    <h3><%= tour.name.capitalize %></h3>
    <hr />
    <div class="intro"><i class="fas fa-map-pin"></i> <%= tour.city.capitalize %></div>
  </div><!-- /.title-content -->
  <div class="card-info">
    <%= tour.description[0..40] %>
  </div><!-- /.card-info -->
  <div class="utility-info">
    <ul class="utility-list">
      <li><i class="fas fa-euro-sign"></i><%= tour.price %></li>
      <li><%= link_to user_path(tour.user) do %><%= cl_image_tag tour.user.photo, width: 25, height: 25, crop: :thumb,class: 'card-trip-user avatar'%> <% end %></li>
    </ul>
  </div><!-- /.utility-info -->
  <!-- overlays -->
  <div class="gradient-overlay"></div>
  <div class="color-overlay"></div>
  <%= link_to "", tour_path(tour), class: "card-link" %>
</div><!-- /.blog-card -->
