<div class="container form">
  <div class="row">
    <div class="col-xs-6">
      <%= simple_form_for(@tour) do |f| %>
        <%= f.input :name %>
        <%= f.input :description %>
    </div>
    <div class="col-xs-6">
        <%= f.input :city %>
        <%= f.input :price %>
    </div>
  </div>
  <div class="row text-center">
        <%= f.input :photo, input_html: { class: 'hidden', id: 'photo-input'}, label_html: { class: 'upload-photo'}, label: '📷 Upload a photo' %>
        <%= f.input :photo_cache, as: :hidden %>
        <%= image_tag "", width: 300, class: "hidden", id: "photo-preview" %>
    <div class="form-actions">
      <%= f.button :submit %>
    </div>
    <% end %>
  </div>
</div>
